:host {

  >.list {
    display: grid;
    gap: 1rem;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: calc(100vh - 57px - 64px - 2rem - 110px);

    &:has(.empty-list) {
      display: flex;
    }

    >.empty-list {
      background-color: #fa9898;
      border-radius: 10px;
      border: 1px solid #cc0000;
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      padding: 1.5rem;
      width: 100%;

      >.title {
        font-size: 1.2rem;
        font-weight: 500;
      }
    }

    targeta-element {
      cursor: pointer;
    }

    @media screen and (max-width: 1700px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }
}