:host {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  .error {
    color: #cc0000;
  }

  >form {
    align-items: flex-start;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    width: 400px;

    >.field-group {
      position: relative;
      width: 100%;
      
      >.field {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
  
        >label {
          font-size: 1rem;
        }
  
        .form-input {
          background: #fff;
          border-radius: 3px;
          border: 1px solid #ccc;
          box-sizing: border-box;
          font-size: 1rem;
          font-weight: 400;
          font: inherit;
          height: 40px;
          padding: 0.5rem;
          width: 100%;
  
          &:hover {
            border-color: #009100;
            box-shadow: 0 0 0 5px rgba(38, 151, 10, 0.05);
          }
  
          &:focus-visible {
            border-color: #009100;
            border-width: 2px;
            outline: none;
          }
  
          &.ng-invalid.ng-touched {
            border-color: #cc0000;
          }
        }
      }
    }


    >.buttons {
      align-items: center;
      display: flex;
      flex-direction: row-reverse;
      gap: 0.75rem;
      justify-content: space-between;
      margin-right: 0;
      width: 100%;

      >button {
        background-color: #7dce67;
        border-radius: 3px;
        border: none;
        box-sizing: border-box;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 500;
        height: 40px;
        padding: 0.5rem 1rem;

        

        &:not(:disabled) {
          cursor: pointer;
        }

        &:disabled {
          background-color: #ddd;
        }
      }
    }
  }
}