<span class="title">{{ payment.nom }}</span>

<div class="payment-info">
  <div class="row">
    <div class="name">Data</div>
    <span>{{ payment.data | date: 'dd-MM-yyyy' }}</span>
  </div>
  
  <div class="row">
    <div class="name">Quantitat</div>
    <span>{{ payment.quantitat | currency:'EUR':'symbol':'1.2-2' : 'ca-ES' }}</span>
  </div>

  <div class="row">
    <div class="name">Mètode pagament</div>
    <span>{{ getPaymentMethodLabel(payment.metodePagament) }}</span>
  </div>

  <div *ngIf="payment.notes" class="col">
    <div class="name">Notes</div>
    <span>{{ payment.notes }}</span>
  </div>
</div>