<formulari-cerca></formulari-cerca>

@if(pagamentService.loading()) {
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
    <span>Carregant...</span>
  </div>
} @else if (pagamentService.error()) {
  <div class="error-container">
    <div class="text-container">
      <span class="title">Error al carregar els pagaments</span>
      <span>{{ pagamentService.error() }}</span>
    </div>
    <div class="button-container">
      <button
        mat-stroked-button
        class="error-button"
        (click)="reintentar()">
        Reintentar
      </button>
    </div>
    
  </div>
} @else {
  <llista-elements [payments]="pagamentService.payments()"></llista-elements>
}